# file: config.cfg

[nlp]
lang = "en"
# The 'linker' is included to show a complete setup, but it uses an empty knowledge base. #, "spancat" , "linker", , "scispacy_linker"
pipeline = ["ner", "llm_rel", "rel_normalizer", "spancat"]


[components]

[components.ner]
factory = "llm_ner"
[components.ner.cache]
@llm_misc = "spacy.BatchCache.v1"
path = "cache_ner"
batch_size = 64
max_batches_in_mem = 4
[components.ner.task]
@llm_tasks = "spacy.NER.v3"
labels = ["DISEASE", "SYMPTOM", "DRUG", "LAB_TEST", "BIOLOGICAL_SUBSTANCE", "MEDICAL_PROCEDURE", "NATURAL_SUBSTANCE", "ANATOMY", "FINDING", "RATIO", "MEASUREMENT", "STATISTICS", "HIGHER", "LOWER"]
description = "Extracts named medical entities from the text. Do not extract entities that are not on the list of labels."
[components.ner.task.examples]
#@misc = "spacy.FewShotReader.v1"
#path = "examples.json"
# The model section specifies which LLM to use.
[components.ner.model]
@llm_models = "spacy.GPT-4.v3"
name = "gpt-4.1"
config = {"temperature": 0.0}

[components.spancat]
factory = "llm_spancat"

[components.spancat.cache]
@llm_misc = "spacy.BatchCache.v1"
path = "cache_spancat"
batch_size = 64
max_batches_in_mem = 4

[components.spancat.task]
@llm_tasks = "spacy.SpanCat.v3" 
labels     = ["SCIENTIFIC_LITERATURE", "PATIENT_HISTORY", "DISEASE_INFORMATION", "SYMPTOM_INFORMATION", "FINDING_INFORMATION", "CLINICAL_TRIAL"]

[components.spancat.model]
@llm_models = "spacy.GPT-4.v3"
name   = "gpt-4.1"
config = {"temperature": 0.0}

[components.llm_rel]
factory = "llm_rel"


[components.llm_rel.cache]
@llm_misc = "spacy.BatchCache.v1"
path = "cache_rel"
batch_size = 64
max_batches_in_mem = 4
[components.llm_rel.task]
@llm_tasks = "spacy.REL.v1"
labels = ["INCREASE", "DECREASE", "FLUCTUATE", "CAUSE", "ASSOCIATE"]

[components.llm_rel.model]
@llm_models = "spacy.GPT-4.v3"
name = "gpt-4.1"
config = {"temperature": 0.0}

[components.rel_normalizer]
factory = "rel_normalizer"
